<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/measure.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>回線速度測定のデモ</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <img src="/file/neko.jpg" width="640" />
        </div>
        <div class="col-md-5">
          <div>
            <p>猫です</p>
          </div>
          <div id="result">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
